* {
	box-sizing: border-box;
}

html {
    padding-top:50px;
}



body {
    border: dashed 8px solid rgb(128, 135, 165); ;
    border-radius: 20px;
    padding: 40px;
    width: 60%;
    height: 400px;
    margin: 0 auto;
    background: url('https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80');
}

#clock {
    height:120px;
    font-size: 40px;
    font-family: arial;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  color: white;
}

h2 {
	text-align:center;
  

}
select{
    height: 45px;
    width: 120px;
}
#alarm-container {
	text-align:center;
    font-family: Verdana;
    font-size: 15px;
    padding: 0.7em;
  color: white;
  
}

label {
	display:inline-block;
}

.timeofday {
    background-color: #eee;
}

.bigger {
    font-weight:bold;
    font-size: 18px;
}

#sounds {
    text-align: center;
    padding-top: 20px;
}

#setButton {
    float:left;
    background-color:lightgreen;
    margin-top:10px;
    height: 45px;
    width: 120px;
    font: bold;
}
#clearButton {
    float:right;
    font: bold;
    background-color:rgb(207, 82, 82);
    margin-top:10px;
    height: 45px;
    width: 120px;
}
